{% extends 'main.html' %}

{% block content %}

<style>
    .room_container{
        display:grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room_container">
    <div>
        <h1>{{ room.name }}</h1>
        {{ room.description|linebreaks }}

        <div class="comment_place">
            <h3>留言</h3>
            <hr>
            {% for comment in comments %}

            <div>
                {% if request.user == comment.user %}
                <a href="{% url 'delete_message' comment.id %}">刪除</a>
                {% endif %}
                <small>@{{comment.user}}  {{comment.created}}</small>
                <p>{{comment.body}}</p>
                <hr>
            </div>

            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment_form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="留下留言">
            </form>
        </div>
        {% endif %}
            
    </div>

    <div>
        <h3>參與者</h3>
        <hr>
        {% for user in participants %}
        <div>
            
           <p><a href="{% url 'profile' user.id %}">@{{ user }}</a></p>
        </div>
        

        {% endfor %}
    </div>
</div>

{% endblock content %}